.loading-wrapper-open {
  z-index: 99999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--main-red-transparent);
  transition: 1.2s all ease-in-out;
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

.loading-wrapper-close {
  z-index: 99999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 100%;
  background-color: var(--main-red-transparent);
  transition: 1.2s all ease-in-out;
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.content h2 {
  font-size: 38px;
  color: white;
  margin-bottom: 12px;
  text-align: center;
}

.image-container {
  /* width: 10%; */
  width: 150px;
  height: 150px;
  /* background-color: blue; */
}

.image-container img {
  width: 100%;
}

.animation {
  width: 380px;
  height: 380px;
}
