.nav-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  border-bottom: solid 0.1px var(--main-gray);
  /* background-color: red; */
  background-color: white;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  box-shadow: 0 0 20px rgba(33, 33, 33, 0.2);
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 85%;
  padding: 12px 0px;
  /* background-color: red; */
}

.navbar-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 32px;
  /* background-color: red; */
}

.navbar-group-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-group a,
.navbar-group-logo .track-hidden a {
  font-size: 18px;
  padding: 16px 10px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.track-container {
  position: relative;
}

.navbar-group .track-shipment,
.track-hidden a {
  border-top: 0.1px solid transparent;
  border-left: 0.1px solid transparent;
  border-right: 0.1px solid transparent;
  transition: 0.6s all;
}

.navbar-group .track-shipment-open,
.track-hidden .track-shipment-open {
  border-top: 0.1px solid var(--main-gray);
  border-left: 0.1px solid var(--main-gray);
  border-right: 0.1px solid var(--main-gray);
  transition: 0.6s all;
}

.search-shipment {
  position: absolute;
  top: calc(100% + 16px);
  left: 0;

  border-radius: 0px 10px 10px 10px;
  border: 0.1px solid var(--main-gray);
  background-color: white;
  padding: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 330px;
  transition: 0.6s width ease-in;
  visibility: visible;
}

.search-shipment-close {
  background-color: white;
  position: absolute;
  top: calc(100% + 16px);
  left: 0;
  width: 0;
  overflow: hidden;
  border-width: 0px;
  padding: 32px;
  width: 100px;
  transition: 0.6s width ease-in;
  visibility: hidden;
}

.search-shipment h2 {
  font-size: 18px;
}

.search-input-container {
  /* background-color: red; */
  display: flex;
  border: 0.1px solid var(--main-gray);
  border-radius: 10px;
  /* background-color: red; */
  overflow: hidden;
}

.search-input-container .search-icon {
  flex: 1;
  background-color: var(--main-red);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s background-color;
}

.search-input-container .search-icon:hover {
  background-color: var(--main-red-2);
}

.search-input-container .search-input {
  all: unset;
  flex: 5;
  padding: 0px 18px;
}

a.langaue {
  color: var(--main-red);
}

a.logo-text {
  font-size: 32px;
  color: var(--main-red);
}

.logo-img img {
  width: 100%;
}

.logo-img {
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

a:not(.logo-text) {
  position: relative;
  text-align: center;
}

a:not(.logo-text):after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: var(--main-red);
  transform-origin: bottom right;
  transition: transform 0.4s ease-in-out;
}

a:not(.logo-text):hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.vertical-bar {
  width: 0.5px;
  height: 50%;
  background-color: var(--main-gray);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.list-closed {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 100%;
  z-index: 999;
  overflow: hidden;
  display: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 48px;
  border-left: 0.1px solid var(--main-gray);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  transition: 0.6s all ease-in;
}

.list {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 50%;
  z-index: 999;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 48px;
  border-left: 0.1px solid var(--main-gray);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  transition: 0.6s all ease-in;
}

.list a {
  padding: 12px 10px;
}

.list-toggle-icon {
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
  padding: 8px;
  width: 32px;
  height: 32px;
  z-index: 9999;
  display: none;
}
.list-toggle-icon img {
  width: 100%;
}

.navbar-layer {
  position: fixed;
  background-color: #323232cc;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  opacity: 1;
  visibility: visible;
  transition: 0.6s all ease-in;
  z-index: 99;
}

.navbar-layer-closed {
  position: fixed;
  background-color: #323232cc;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in;
}

.track-hidden {
  display: none;
  margin: 0px 12px;
}

@media only screen and (max-width: 1024px) {
  .navbar {
    flex-direction: row !important;
  }

  .list-toggle-icon {
    display: block;
  }

  .navbar-group {
    display: none;
  }

  .track-hidden {
    display: block;
  }

  .navbar-group-logo {
    flex-direction: row !important;
  }
  .search-shipment {
    width: 30vw;
  }
}
