:root {
  --main-red: #e30613;
  --main-gray: rgba(128, 128, 128, 0.4);
  --main-gray-2: rgba(128, 128, 128, 0.8);
}
h1,
h2 {
  margin: 0;
}
a {
  cursor: pointer;
}
body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: cairo-font1;
  src: url("./assets/fonts/Cairo-Bold.ttf");
}
